.sidenav {
    /*width: 220px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 10px;
    background: #eaf0f3;
    overflow-x: hidden;
    padding: 10px;*/
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    width: 240px;
    background-color: #eaf0f3;
    border-right: 1px solid #e2e5e8;
    z-index: 1;
    padding:20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}